.profile {
  display: flex;
  padding: var(--spacing-12);
}

.profile__identity,
.profile__presentation {
  flex: 1;
}

.profile__identity {
  padding-right: var(--spacing-10);
  border-right: 1px solid var(--color-border);
}

.profile__presentation {
  padding-left: var(--spacing-10);
}
